@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ff3700;
}
body {
  background: #000000;
  font-family: poppins, sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav {
  display: flex;
}
.nav li {
  list-style: none;
  margin-left: 0 10px;
}
.nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}
.nav li:hover a {
  color: var(--primary);
}
.search {
  position: relative;
  width: 300px;
  height: 40px;
}
.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 45px !important;
  border-radius: 4px;
  outline: none;
  border: 1 solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: transparent;
  color: #ffffff;
}
.search input::placeholder {
  color: #ffffff;
}
.search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ffffff;
  padding-right: 10px;
  border-right: 1px solid #ffffff;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../images/movies/bg-little-mermaid.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: 0.5s;
}
.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  max-width: 550px;
  display: none;
  visibility: hidden;
  transform: scale(0);
  transition: 0.5s;
}
.content.active {
  display: block;
  visibility: visible;
  transform: scale(1);
  transition: 0.5s;
}

.movie-title {
  width: 250px;
}

.banner .content h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: 400;
}
.banner .content h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
  padding-left: 0;
}
.banner .content h4 span:last-child {
  border-right: none;
}

.banner .content h4 span i {
  background: var(--primary);
  color: #ffffff;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
}

.banner .content p {
  color: #ffffff;
  font-size: 0.7em;
  margin: 10px 0 20px;
  font-weight: 300;
  line-height: 1.5em;
}

.banner .content .button {
  position: relative;
}
.banner .content .button a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: var(--primary);
  color: #ffffff;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.banner .content .button a:nth-child(2) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.banner .content .button a:hover:nth-child(2) {
  background: var(--primary);
}
.banner .carousel-box {
  position: relative;
  min-width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  border-radius: 10px;
 
}

.carousel{
    position: relative;
    height:450px;
    perspective: 1500px;
    

}

.carousel .carousel-item{
    width:250px;
    cursor: pointer;

}
.carousel .carousel-item img{
   max-width: 235px;
   border-radius: 10px;
   transform: translateX(8px) translateY(-100px);
   object-fit: cover;
   object-position: center;
}

.play{
    position: absolute;
    bottom: 35px;
    left:100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition:0.3s;
}

.play i{
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer !important;
}

.play:hover{
    color: var(--primary);
}
.sci{
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.sci a{
  bottom: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    transition:0.3s;
    cursor: pointer !important;
}
.sci a:hover{
    color: var(--primary);
}

.trailer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
    z-index: 9999;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    width: 60%;
    border-radius: 10px;
    outline: none;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}